h1{
    color:rgb(100, 1, 1);
    font-family: Times New Roman;
    font-size: 40px;
}
h2{
    color:rgb(1, 65, 1);
    font-family: times New Roman;
    font-size: 30px;
}
p{
    color:rgb(0, 0, 77);
    font-family: Arial;
    font-size: 18px;
}